<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.verizon.location.platformdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BoundingBoxDemo"
            android:label="@string/title_activity_map_bounding_box"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GeojsonDemo"
            android:label="@string/title_activity_geojson_demo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MapGesturesDemo"
            android:label="@string/title_activity_map_gestures"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MapTrafficDemo"
            android:label="@string/title_activity_map_traffic"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MapModeDemo"
            android:label="@string/title_activity_map_mode_demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserLocationDemo"
            android:label="@string/title_activity_user_location_demo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MapShapesDemo"
            android:label="@string/title_activity_map_shapes_demo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MapCameraDemo"
            android:label="@string/title_activity_map_camera_demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".layers.LayersDemo"
            android:label="@string/title_activity_layers_demo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>